.gallery {
  display: flex;
  flex-wrap: wrap;
}

.img_container {
  min-width: 360px;
  width: 18%;
  margin: auto;
  margin-top: 8px;
  background-color: white;
  border-style: groove;
  position: relative;
}

.delete_button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.img_content {
  padding: 4%;
  position: relative;
}

.gallery_photo {
  position: relative;
}

.Likage {
  text-align: center;
}
