.main_page {
  background-color: AntiqueWhite ;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
}

.selector {
  margin-left: 4%;
}
.img_container_main {
  min-width: 425px;
  width: 18%;
  margin: auto;
  margin-top: 8px;
  background-color: white;
  border-style: groove;
  position: relative;
}

.auteur, .nb_like{
  text-align: center;
}

.gallery_photo {
  display: block;
  margin: auto;
}

.comment_content {
  width: 60%;
}

.comment_display {

}

.like_button {
  margin: auto;
  background-color: white;
}

.unlike_button {
  margin: auto;
  background-color: lightblue;
}

.comm_list {
  list-style: none;
  width: 300px;
  height: 50px;
  overflow: auto;
}
