.main_screen {
  min-width: 320px;
  display: flex;
}

.wrapper {
  width: 35%;
  height: 100%;
  flex-grow: 1;
}

.container {
  width: 15%;
  height: 100%;
}

canvas {
  min-width: 150px;
  background-color: grey;
}

video {
  min-width: 150px;
}

#gallery {
  width: 35%;
  height: 100%;
  flex-grow: 1;
}


.delete_button {
  width: 30px;
  height: auto;
}
